@if (Session["LOGGED_USERNAME"] != null && Session["LOGGED_USERID"] != null)
{
    using (Html.BeginForm("LogOut", "Login", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ol class="nav navbar-nav navbar-right">
            <li>
                <style>
                    .close { display: none }

                    .close:hover { display: none }
                </style>
                @Html.ActionLink("Hello " + Session["LOGGED_USERNAME"] + "!", "Index", "UserInfo", null, new {title = "Manage"})
            </li>
            <li>
                <style>
                    .close { display: none }

                    .close:hover { display: none }
                </style>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ol>
    }
}
else
{
    @Html.ActionLink("Login", "Index", "Login", new {area = ""}, new {@class = "navbar-brand navbar-right"})
}